.center-div {
  margin: 0 auto;
  width: 500px;
}

#search_bar {
  text-align: center;
  height: 40px;
  width: 500px;
  border: 1px solid #1b5ac2;
  background: #ffffff;
}

#search_input {
  font-size: 16px;
  width: 325px;
  padding: 10px;
  border: 0px;
  outline: none;
  float: left;
}

#search_button {
  width: 50px;
  height: 100%;
  border: 0px;
  background: #1b5ac2;
  outline: none;
  float: right;
  color: #ffffff;
}
#square {
  width: 50px;
  height: 100%;
  border: 0px;
  border-left:1px solid #fff;
  background: #1b5ac2;
  outline: none;
  float: right;
  color: #ffffff;
}

body {
  background-color: #fff;
}

.playlist {
  margin-top: 10px;
  margin-bottom: 10px;
  height: 165px;
  width: 500px;
  white-space: nowrap;
  overflow: auto;
}

.library {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 500px;
}

/*.play {
  font-size: 16px;
  color: #fff;
  padding: 10px;
  border: 0px;
  outline: none;
  background: #1b5ac2;
  font-family: 'Arbutus', cursive;
}*/

.title2 {
  font-size: 24px;
  color: #1b5ac2;
  margin-left: 5px;
  font-family: 'Arbutus', cursive;
}

#song {
  width: 140px;
  height: 140px;
}

.block {
  /*-ms-transform: rotate(-72deg);
  -webkit-transform: rotate(-72deg);
  transform: rotate(-72deg);*/
  -ms-transform-origin: 76% 50%; /* IE 9 */
  -webkit-transform-origin: 76% 50%; /* Chrome, Safari, Opera */
  transform-origin: 76% 50%;
  /*z-index: 0;*/
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;

  transform:  rotateZ(-72deg);
}

/*#Record {
  z-index: 0;
}*/
::-webkit-scrollbar-track
{
	background-color: #FFF;
	border-radius: 10px;
}

::-webkit-scrollbar
{
	width: 5px;
  height: 5px;
	background-color: #FFF5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #1b5ac2;
	background-image: -webkit-gradient(linear,
									   40% 0%,
									   75% 84%,
									   from(#1b5ac2),
									   to(#1b2a66))
}
